/* Geral */

* {                           /* mudar e todos os elementos do html */
    margin: 0; 
    padding: 0;              /* retirar todas as margens do html */
    font-family: Verdana, Geneva, Tahoma, sans-serif;    /* mudar a fonte do texto, para deixar parecida com a da apple */
}

ul {
    list-style: none;       /* list-style:none serve para retirar todos os bullet points ( marca de pontuação usadas para introduzir itens em uma lista*/
}

a {
    text-decoration: none; /*vai remover a linha que fica embaixo do texto ( underline )*/ 
}

/* navbar */
header nav {
    background-color: #333; /* vai mudar a cor de fundo da parte superior do site. */
}

#navbar {  
    display: flex;            /* faz com que os topicos fiquem um do lado do outro, e nao como lista, um embaixo do outro */
    justify-content: space-around;    /* faz com que crie um espaçamento entre os texto na barra de navegação */
    align-items: center;              /* alinhou os itens no centro da barra de navegação */
    font-size: .7rem;                 /* diminiu a fonte na barra de navegação */
    padding: 0 1rem;                  /* espaço somente nas laterais */
    max-width: 1000px;                /* largura maxima  */
    margin: 0 auto;                   /* vai centralizar o texto e estreitar a largura */
}

#navbar a {
    color: #F5F5F7;                /* mudou a cor das letras na barra de navegação */
    transition: .4s; 
}

#navbar a:hover {                    /* transição de cor, ficou muito sutil devido as cores escolhiadas */
    color: #FFF;
}


#bottom-header {
    font-size: .8rem;
    padding: 1rem;                  /* para afastar dos cantos da pagina */
    border-bottom: 1px solid #CCC;/* vai dividir o cabeçalho do conteudo */
} 

#bottom-header h3 {
    font-size: 1.2rem;             /* vai mduar a fonte do titulo */
}

#bottom-header a {
    color: #333;                /* vai mudar a cor dos links */
}

#bottom-header-inner {            /* vai trabalhar a parte do conteudo central */
    max-width: 1000px;            /* largura maxima */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;/* separou a palavra iPhone dos links, jogando os links para a direita e o titulo para a esquerda */
    align-items: center;          /* alinhha os itens ao centro (vertical) */
}

#bottom-header-inner a {
    margin: 0 0.5rex;             /* criou um afastamento entre os textos de cada link, o "0"e superios e o "0.5"e para as laterais */
}

#bottom-hearder-inner .btn,       /* ultilizando o seletor #bottom-header-inner, para sobrescrever alguns estilos  */
.btn {
    background-color: #0071E3;
    border-radius: 10rem;         /* vai cirar um formato de "pilula" no botao de comprar */
    padding: .4rem 1rem;          /* vai gerar um espaçamento interno no botão de comprar */
    color: #FFF;                /* mudar a cor da letra dentro do botão */
}

/* CONTEUDO */

#ribbon {                        /* vai estilizar a parte de desconto da pagina */
    text-align: center;
    padding: 1rem;
    background-color: #F5F5F7;
    color: #1D1D1D;
    font-size: 0.8rem;          /* tamanho da fonte na parte de desconto */
}

#ribbon a {
    color: #0071E3;          /* mudou a cor do texto saiba mais para azul */
}

#main-content {
    text-align: center;         /* alinhou o texto ao centro */
    color: #1D1D1D;           /* cor do texto */
    display: flex;
    flex-direction: column;     /* display:flex e flex-direction:column deixou o conteudo central em colunas, deixou o conteudo um em cima do outro */
justify-content: center;        /* centralizou os elementos da area pricipal da pagina */
}

#main-content #title {          /* modificar o titulo do conteudo principal */
    margin: 1rem;
    font-size: 1.2rem;
}

#main-content #subtitle {        /* vai estilizar o subtitulo a parte de É todo Pro */
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

#main-content #description {     /* vai estilizar o coteudo da descrição, embaido do titulo "É todo Pro" */
    max-width: 600px;            /* nao vai ocupar toda a tela */
    margin: 1rem auto;           /* vai descolar da tela acima e abaixo */
    font-size: 1.1rem;           /* define o tamnho da fonte do texto */
    line-height: 1.5rem;         /* vai afastar uma linha da outra no texto */
}

#main-content #price {           /* vai estilizar a parte do preço */
    font-size: 1.3rem;           /* tamanho da fonte do texto */
    color: #86868B;            /* cor do texto */
    margin: 2rem;                /* vai criar uma margem afastando e destacando mais o preço do produto */
}

#main-content .btn {             /* vai estilizar a parte do botão comprar */
    font-size: 1.1rem;           /* tamanho da fonte no botão */
    padding: .8rem 1.4rem;       /* aumentou os spaçamentos interno da parte do botão */
    align-self: center;          /* nao fica com 100% da tela, pega a largura maxima do padding e centraliza na tela */
    transition: .5s;
}

#main-content .btn:hover {
    background-color: #FFF;
    color: #0071E3;
    border: 1px solid #0071E3;
}

#main-content #product-image {   /* vai estilizar a parte das imagens do site  */
    max-width: 1000px;
    margin: 3rem auto;
    opacity: 1;
    transition: .5s;
}

#main-content #product-image.changing {
    opacity: 0.5s;
}

#image-picker {
    margin-bottom: 500px;
}

#image-picker ul {
    display: flex;
    justify-content: center;      /* na partre de seleção de cores, essas  funções vão deixar os itens um do lado do outro e centralizar */
}

#image-picker li {                /* vai estilizar a parte das listas, ou seja a seleção de cor do produto */
    margin: 1rem;                 /* deu espaçamento entre os textos */
    display: flex;
    flex-direction: column;       /* vai deixar a bolinha em cima do texto */
    align-items: center;          /* alinhar os itens no centro */
    cursor: pointer;
}

#image-picker li .color {          /* vai criar a bolinha que vai ficar acima do texto */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: 4px solid #FFF;
    pointer-events: none;         /* essa função faz com que nao dispare nenhum evento ao clicar, pois eu quero que o evento seja no li todo*/
}

#image-picker li .description {
    font-size: .7rem;             /* vai definir o tamanho do texto embaixoi das opções de cor */
    color: #1D1D1D;             /* define a cor do texto */
    margin: 0.6rem;               /* margem para afastar o texto da bolinha */

} 

#green .color {
    background-color: #394C38;
}

#silver .color {
    background-color: #F1F2ED;
}

#golden .color {
    background-color: #FAE7CF;
}

#grafite .color {
    background-color: #54524F;
}

#blue .color {
    background-color: #A7C1D9;
}

.selected {
    outline: 2px solid #43A1FF;
}